h1{
	color:  #f3971b;
	font-size: 35px;
}
body {
	background-color: rgb(72, 61, 139);
	color: white;
	
	height: 720px;
	margin: 0;
	font-family: sans-serif;
  }
  
  form{
	color: black;
	
  }
  .form-container {
	width: 400px;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .input-group {
	margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"],
  select {
	height: 30px;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
  }
  
  button {
	color: #483D8B;
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 10px;
	margin-top: 15px;
  }
  
  button:hover {
	color: red;
  }
  
  p{
	color: black;
  }
  p a {
	color: #ff0080;
  }
  
  a {
	text-decoration: none;
  }
  